@use '../abstract/mixins' as *;
@use '../abstract/functions' as *;

.main {
  position: relative;
  z-index: 4;
}

.container {
  width: 100%;
  overflow: clip;

  &__inner {
    width: 100%;
    max-width: 1440px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;

    @include media(md) {
      padding-left: 16px;
      padding-right: 16px;
    }

    @include media(xl) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}

.button-wrap {
  display: flex;
  align-items: center;
  gap: 24px;
}

.button {
  outline: none;
  font-size: 18px;
  padding: 10px 32px 12px;
  border-radius: 12px;
  width: 100%;
  
  @include media(lg) {
    width: initial;
    font-size: 20px;
    padding: 18px 48px 20px;
  }

  &--black {
    background-color: var(--black-bg-button);
    color: #ffffff;

    &:hover {
      background-color: #232323;
    }
  }

  &--white {
    background-color: #ffffff;
    color: #242424;

    &:hover {
      background-color: #232323;
    }
  }
}

.list {
  padding-left: 24px;

  &__item {
    list-style: disc;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}