.container {
  width: 100%;

  &__inner {
    width: 100%;
    // 1440px
    max-width: 1392px;
    margin: auto 24px;
  }
}

.button {
  outline: none;
  font-size: 24px;
  padding: 20px 48px 24px;
  border-radius: 12px;

  &--black {
    background-color: #000000;
    color: #ffffff;
  }
}

.list {
  padding-left: 24px;

  &__item {
    list-style: disc;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}