@use '../abstract/mixins' as *;
@use '../abstract/functions' as *;

.double {
  padding-top: 20vh;

  &__slider {
    margin-bottom: 24px;
    margin-left: initial;
    margin-right: initial;
    
    @include media(md) {
      width: 80%;
      margin-bottom: 36px;
    }
  }

  &__list {
    padding-left: 0;
    height: initial;
  }
  
  &__item {
    display: block;
    height: 100%;
  }

  &__columns {
    display: flex;
    gap: 54px;
    flex-direction: column;
    
    @include media(xl) {
      gap: 24px;
      flex-direction: row;
    }

    &--revert {
      @include media(xl) {
        flex-direction: row-reverse;
      }
    }
  }

  &__column {
    position: relative;

    @include media(xl) {
      width: 50%;
    }
  }

  &__content {
    @include media(xl) {
      position: sticky;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__sale {
    color: #ffffff;
    font-size: 24px;
    margin-top: -0.25em;
    background: linear-gradient(
      90deg, 
      rgba(255 255 255 / 50%) 1%,
      rgba(149 166 178 / 100%) 20%, 
      rgba(255 255 255 / 100%) 35%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 1.5s linear infinite;

    @include media(md) {
      font-size: 32px;
    }

    @keyframes shine {
      from {
        background-position: 200% center;
      }
    }
  }
}