@use '../abstract/mixins' as *;
@use '../abstract/functions' as *;

.intro {
  position: relative;

  &__inner {
    position: relative;
    height: 300vh;
  }

  &__text {
    position: sticky;
    top: 100%;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 10;
    transform: translateY(calc(-100% - 50px));
    
    @include media(md) {
      padding-left: 50vw;
    }
  }

  &__title {
    margin-bottom: 48px;
  }
  
  &__heading {
    font-family: "AnonymousPro", sans-serif;
    // border: 1px solid #777;
  }

  &__svg {
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 100%;
  }

  &__images {
    position: sticky;
    top: 0;
    left: 0;
    width: calc(100% + 48px);
    height: 100vh;
    resize: both;
    margin-left: -24px;
    margin-right: -24px;
    // background: #e5ebf1;
    // border-radius: 24px;
  }

  &__flower {
    width: 100px;
  }

  &__scrolling {
    position: absolute;
    top: -50%;
    width: 250px;
    height: 375px;
    border-radius: 16px;
    will-change: transform;
    
    @include media(md) {
      transform-origin: bottom right;
      top: -80%;
      width: 400px;
      height: 600px;
      border-radius: 24px;
    }
  }

  &__video {
    // background-color: red;
    overflow: hidden;

    & video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
}