@use '../abstract/mixins' as *;
@use '../abstract/functions' as *;

.title {
  
  &--hero {
    font-size: 64px;
  }

  &--hero-2 {
    font-size: 32px;
    font-weight: 500;

    @include media(lg) {
      font-size: 48px;
    }

    @include media(xxxl) {
      font-size: 56px;
    }
  }
  
  &--heading-1 {
    font-size: 20px;
    line-height: 1.4em;
    
    @include media(sm) {
      font-size: 24px;
    }

    @include media(md) {
      font-size: 32px;
    }
  }

  &--heading-2 {
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 400;
    
    @include media(md) {
      font-size: 18px;
    }

    @include media(xl) {
      font-size: 32px;
    }
  }

  &--bottom {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &--white {
    color: #ffffff;
  }
}

.paragraph {
  font-size: 16px;
  line-height: 1.4em;
  
  @include media(lg) {
    font-size: 24px;
  }

  &--body-1 { 
    font-size: 20px;
  }

  &--white {
    color: #ffffff;
  }
}

.italic {
	font-family: 'PPWriter';
}

.mono {
	font-family: 'AnonymousPro';
}