// Ширина контейнеров

$width-xxxl-container: 1440px;
$width-xxl-container: 1296px;
$width-xl-container: 1116px;
$width-lg-container: 936px;
$width-md-container: 696px;
$width-sm-container: 516px;
$width-xs-container: 551px;




